<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>test.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>Controller.User.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addExam</servlet-name>
        <servlet-class>Controller.Exam.addExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentifier</servlet-name>
        <servlet-class>Controller.User.Authentifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.User.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addQuestions</servlet-name>
        <servlet-class>Controller.Exam.addQuestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>test.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serv</servlet-name>
        <servlet-class>test.serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeExam</servlet-name>
        <servlet-class>Controller.Exam.ListeExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passExam</servlet-name>
        <servlet-class>Controller.Exam.passExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckResult</servlet-name>
        <servlet-class>Controller.Exam.CheckResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileExamAdd</servlet-name>
        <servlet-class>Controller.Exam.FileExamAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditExam</servlet-name>
        <servlet-class>Controller.Exam.EditExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExam</servlet-name>
        <servlet-class>Controller.Exam.DeleteExam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <res-ref-name>java:app/quiz</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addExam</servlet-name>
        <url-pattern>/addExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentifier</servlet-name>
        <url-pattern>/Authentifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addQuestions</servlet-name>
        <url-pattern>/addQuestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serv</servlet-name>
        <url-pattern>/serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeExam</servlet-name>
        <url-pattern>/ListeExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passExam</servlet-name>
        <url-pattern>/passExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckResult</servlet-name>
        <url-pattern>/CheckResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileExamAdd</servlet-name>
        <url-pattern>/FileExamAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditExam</servlet-name>
        <url-pattern>/EditExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExam</servlet-name>
        <url-pattern>/DeleteExam</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
